<div class="attribute">
    <label>{{ attribute['label'] }}</label>
    <div class="content" style="margin-left: 20px;">
        {% include "NovactiveEzPublishFormGeneratorBundle:FormView/AttributeType:selection.html.twig" with {"attribute": attribute} %}
    </div>
</div>